.App {
  text-align: center;
}

table{
  margin:0 10vw;
}
th,td{
  padding:2px 30px;
}

tr{
  transition:0.5s;
  cursor: pointer;
}

tr:nth-child(n+1):hover{
  box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important
}

